@import "../../typography.scss";
@import "../../colors.scss";
@import "../../spacing.scss";
.container-flex {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #FFFFFF;
    p {
        @extend .tp-body-large;
    }
}