.vaga-etapa-concluida {
    list-style-image: url('../../assets/icons/ellipse_lilac.svg');
}
.vaga-etapa-em_andamento {
    list-style-image: url('../../assets/icons/ellipse_green.svg');
}
.vaga-etapa-futura {
    list-style-image: url('../../assets/icons/ellipse_grey.svg');
}