span {
    background-color: transparent;
}

.play {
    position: absolute;
    top: 22%;
    left: 41%;
    height:56px;
    width:56px;
    background-image: url('../../assets/icons/play_button.png');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.playIcon {
    background-color: transparent;
}

.close {
    position: absolute;
    top:10px;
    right: 10px;
}

.modal-background {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    opacity: 100%;
}

iframe {
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    min-height: 20vh;
    display: flex;
}
.modal-hide {
    opacity: 0;
    display: none;
}

@media (min-width:380px) {
    iframe {
        width: 100vw;
        min-height: 25.5vh;
    }
}

@media (min-width:600px) {
    iframe {
        width: 100vw;
        min-height: 45vh;
    }
}

@media (min-width:750px) {
    iframe {
        width: 750px;
        min-height: 425px;
    }
}

@media (min-width:1024px) {
    .play {
        background-color: transparent;
        height:62px;
        width:62px;
    }
}
