.socialLinkLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  min-width: 16rem;
  max-width: 21.375rem;
  border: 1px solid #79747e;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  background: none;
  img {
    margin: 0 8px 0 0;
  }
  a {
    color: black;
  }
}
