#labelInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 40rem;
    width: 100%;
    label {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0.625rem;
    }
    input {
        height: 3.5rem;
        border-radius: 4px;
        border: 1px solid #79747e;
        padding: 1rem 0rem 1rem 1rem;
        &::placeholder {
            color: #49454F
        }
        &:focus-visible {
            outline: 1.5px solid #601C4F;
        }
    }
}