@import "../../colors.scss";

.divImpactoMentoria{
    display: contents;
    margin: auto;
        @media only screen and (min-width: 540px) {
            display: flex;
            justify-content: center;
        }
}
#imagem {
    position: absolute;
    background-size: cover;
    width: 390px;
    height: 560px;
    left:0;
    margin: 0;
    padding: 0;
    align-items: center;
    @media only screen and (min-width: 400px) {
        width: 412px;
    }
    @media only screen and (min-width: 540px) {
        width: 540px;
        height: 560px;
        object-fit: cover;
        object-position: 0 -60px;
    }
    @media only screen and (min-width: 768px) {
        object-position: none;
        width: 435px;
    }
    @media only screen and (min-width:1366px) {
        width: 461px;
    }
}
.containerMentoria h2{
    position: relative;
    width: 342px;
    padding-top: 24px;
    padding-bottom: 263px;
    left: calc(50% - 342px/2);
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    
    text-align: center;
    @media only screen and (min-width: 540px) {
        padding-bottom: 263px;
    }
    @media only screen and (min-width: 768px) {
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.containerMentoria {
    height: 560px;
    width: 390px;
    padding: 0;
    @media only screen and (min-width: 400px) {
        padding-bottom: 393px;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 459px;
    }
    @media only screen and (min-width: 992px) {
        padding-top: 132px;
        padding-bottom: 132px;
        align-items: center;
    }
    @media only screen and (min-width: 1024px) {
        padding-top: 0;
    }
    p {
        position: relative;
        width: 342px;
        height: 81px;
        left: calc(50% - 342px/2);
        top: 24px;
    
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #FFFFFF;
        text-align: center;
        @media only screen and (min-width: 768px) {
            left: calc(50% - 203px);
            top: 239px;
        }
        @media only screen and (min-width: 912px) {
            left: calc(50% - 180px);
        }
        @media only screen and (min-width: 992px) {
            display: grid;
            justify-content: center;
            h2 {
                width: 610px;
            }
            p {
                width: 559px;
            }
            @media only screen and (min-width: 1280px) {
                width: auto;
                font-size: 20px;
            }
        }
    }
}
.Mentoria .botaoImpactoMentoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;

    position: absolute;
    width: 341px;
    height: 40px;
    left: 24px;
    margin-top: 16px;

    color: #601C4F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;

    border: 1px solid #79747E;
    border-radius: 100px;
    @media only screen and (min-width: 540px) {
        left: 100px;
    }
    @media only screen and (min-width: 768px) {
        width: 254px;
        left: 358px;
        margin-top: 300px;
        margin-left: 100px;
    }
    @media only screen and (min-width: 820px) {
        left: 370px
    }
    @media only screen and (min-width: 912px) {
        left: 454px;
    }
    @media only screen and (min-width: 1024px) {
        left: 511px;
    }
    @media only screen and (min-width: 1280px) {
        left: 666px;
    }
    @media only screen and (min-width: 1366px) {
        left: 703px;
    }
}

.Mentoria #backgroundMentoria{
    position: absolute;
    background-size: cover;
    background-color: #000;
    width: 390px;
    height: 193px;
    opacity: 50%;
    @media only screen and (min-width: 400px) {
        width: 412px;
    }
    @media only screen and (min-width: 540px) {
        width: 540px;
        left: 0;
    }
    @media only screen and (min-width: 768px) {
        background-color: #601C4F;
        width: 392px;
        height: 560px;
        opacity: 100%;
        left: 376px;
    }
    @media only screen and (min-width: 820px) {
        width: 444px;
    }
    @media only screen and (min-width: 912px) {
        width: 479px;
        left: 435px;
    }
    @media only screen and (min-width: 1024px) {
        width: 589px;
    }
    @media only screen and (min-width: 1280px) {
        width: 846px;
    }
    @media only screen and (min-width: 1366px) {
        width: 904px;
        left: 461px;
    }
}
.img-fluid{
    @media only screen and (max-width: 390px) {
        max-width: none;
    }
}
.Mentoria #h2768{
    position: absolute;
    visibility: hidden;
    color: #FFFBFE;
    @media only screen and (min-width: 768px) {
        visibility: visible;
        left: 410px;
        margin-top: 100px;
    }
    @media only screen and (min-width: 820px) {
        left: 429px;
    }
    @media only screen and (min-width: 912px) {
        left: 506px;
    }
    @media only screen and (min-width: 1024px) {
        left: 560px;
    }
    @media only screen and (min-width: 1280px) {
        width: auto;
    }
    @media only screen and (min-width: 1366px) {
        left: 597px;
    }
}