@import "../../colors.scss";

.divImpactoMentoria{
    display: flex;
}
#imagem {
    position: absolute;
    width: 390px;
    height: 560px;
    left:0;
    padding: 0;
    align-items: center;
    @media only screen and (min-width: 992px) {
        height: 840px;
    }
}
h2{
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 263px;
    margin-left: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;

    text-align: center;
}
.containerMentoria {
    height: 560px;
    width: 390px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-position: 0;
    @media only screen and (min-width: 992px) {
        padding-top: 132px;
        padding-bottom: 132px;
        align-items: center;
    }
}
.botaoImpactoMentoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    padding: 0;
    gap: 8px;

    position: absolute;
    width: 341px;
    height: 40px;
    left: 24px;
    margin-top: 16px;

    color: #601C4F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;

    border: 1px solid #79747E;
    border-radius: 100px;
    }
p {
    position: relative;
    margin-left: 24px;
    width: 342px;
    height: 81px;
    left: calc(50% - 342px/2);
    top: 24px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: $light-5;

    text-align: center;
    @media only screen and (min-width: 992px) {
        display: grid;
        justify-content: center;
        h2 {
            width: 610px;
        }
        p {
            width: 559px;
        }
    }
}
#backgroundMentoria{
    position: absolute;
    margin-left: 12px;
    width: 390px;
    height: 205px;
    opacity: 50%;
}