@import '../../typography.scss';
@import '../../spacing.scss';
.mini-card {
    display: flex;
    align-items: center;
    margin: $sp-tc3 auto;
    margin-bottom: 0 !important;
    max-width: 415px;
    transition-duration: 150ms;
    &:hover {
        cursor: pointer;
        scale: 103%;
    }
    @media only screen and (min-width: 768px) {
        flex-direction: column;
        align-items: stretch;
        max-width: 18rem;
    }
    img {
        width: 120px;
        height: 120px;
        margin: 0 18px 0 5px;
        @media only screen and (min-width: 768px) {
            width: auto;
            margin: 0 auto;
        }
    }
    h6 {
        @extend .tp-heading-6;
        line-height: 20px;
        @media only screen and (min-width: 768px) {
            text-align: center;
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        @media only screen and (min-width: 768px) {
            height: 5rem;
            text-align: center;
        }
    }
}