.card-cursos-publicacoes {
    img {
        width: 120px;
        height: 120px;
        margin-right: 15px;
    }

    h5 {
        font-size: 20px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
        
    }

}

