@import '../../typography.scss';

.card-cursos-publicacoes {
    display: flex;
    align-items: center;
    margin: 0 auto ;
    max-width: 415px;

    @media only screen and (min-width: 768px) {
        flex-direction: column;
        align-items: stretch;
        max-width: 18rem;
    }

    img {
        width: 120px;
        height: 120px;
        margin: 0 18px 0 5px;

        @media only screen and (min-width: 768px) {
            width: auto;
            margin: 0 auto;
        }
    }

    h6 {
    @extend .tp-heading-6;
    line-height: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;

        @media only screen and (min-width: 768px) {
            margin-top: 30px;
            height: 5rem;
        }

    }


}

