
.acordion-vagas {
    border-radius:12px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    width:320px !important;
    @media (min-width:390px){
        width:342px!important;
    }
    @media (min-width:700px){
        width:450px!important;
    }
    @media (min-width:1024px){
        width:600px!important;
    }
    @media (min-width:1400px){
        width:906px!important;
    }
    .accordion-button {
        border: none;
        box-shadow: none !important;
        background-color: #FFFBFE !important; //cor da parte de dentro
        color: #1C1B1F;
        &:focus { //tirar sombra no foco
            box-shadow: none;
            border: none;
        }
        &:not(.collapsed) { //cor da letra ao abrir
            color: #1C1B1F;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .accordion-button.collapsed::after{
        color: #1C1B1F;
        opacity: 1;
    }
    .accordion-button::after{
        color: #1C1B1F;
        opacity: 1;
    }
}

.acordion-vagas-body { //cor da parte de dentro
    background-color: #FFFBFE;
    margin: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 6px;
    border: none;
}

.img-acordion-vagas {
    width:40px !important;
    height:40px !important;
    @media (min-width:1024px){
        width:54px !important;
        height:54px !important;
    }
}

.acordion-vagas-text{
    p{
        font-size: 14px;
        font-weight: 600;
        @media (min-width: 750px) {
            font-size: 20.35px !important;
        }
    }
}