@import '../../App.scss';

.acordion-vagas {
    min-width:320px !important;
    @media (min-width:360px){
        min-width:338px!important;
    }
    @media (min-width:700px){
        min-width:450px!important;
    }
    @media (min-width:1024px){
        min-width:600px!important;
    }
    @media (min-width:1400px){
        min-width:906px!important;
    }
    .accordion-button {
        background-color: #D9D9D9 !important; //cor da parte de dentro

        &:focus { //tiar sombra no foco
            box-shadow: none;
            border: none;
        }
        &:not(.collapsed) { //cor da letra ao abrir
            color: #000;
        }
    }
}

.acordion-vagas-body { //cor da parte de dentro
    background-color: #D9D9D9;
}

.img-acordion-vagas {
    min-width:40px !important;
    @media (min-width:1024px){
        min-width:54px !important;
    }
}

.acordion-vagas-text{
    p{
        font-size: 14px;
        font-weight: 600;
        @media (min-width: 750px){
            font-size: 20.35px !important;
        }
    }
}