.card-valormentoria {
    background-color: #efefef !important;
    width: 263px !important;
    height: 208px !important;
    margin-top: 5px;

    @media (min-width:992px) {
        width: 363px !important;
        height: 287px !important;
    }
}



.card-valormentoria-text {
    p {
        font-size: 12.54px;

        @media (min-width:992px) {
            
            font-size: 15.29px !important;

        }
    }
}

.card-valormentoria-body {
    .btn {
        font-size: 10.7px;
        font-weight: 400;
        width: 197px;
        height: 41px;
        margin-top: 15px;
        margin-left: 20px;

        @media (min-width:992px) {
            font-size: 14.8px !important;
            width: 272.57px;
            height: 50px;
            margin-left: 20px;
        }
    }
}