@import '../../spacing.scss';

.titulo-vagas-candidata {
    font-size: 16px;
    font-weight: 600;
    margin-left: $sp-tc3;
    @media (min-width:1024px){
        font-size: 18.5348px !important;
    }
}

.row-cards-recomendados {
    padding-left: $sp-tc3;
}

.icone-vagas-salvar{
    width: 24px;
}