@import '../../spacing.scss';
@import '../../typography.scss';
.titulo-vagas-candidata {
    @extend .tp-heading-5;
    margin-left: $sp-tc3;
    margin-bottom: $sp-tc3;
    padding-right: 60px;
    @media (min-width: 1024px) {
        font-size: 18.5348px !important;
    }
}

.row-cards-recomendados {
    padding-left: $sp-tc3;
}

.icone-vagas-salvar {
    width: 24px;
}