.textolink{
    font-size: 10px;
    margin-bottom: 62px;

    @media (min-width:450px) {
        
        width: 230px !important;
        height: 270px !important;
    }

}
.logofoto{
    width: 54px;
    height: 60px;
    margin-bottom: 46px;
}
.nome_monitora{
    font-size: 13px;
}
.area_monitora{
    font-size: 13px;
}
.dados_monitora{
    width: 220px;
}
.lorem1{
    font-size: 9px;
}
.lorem2{
    font-size: 9px;
    width: 220px;
}