@import '../../spacing.scss';
.cards-area-candidata {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto $sp-tc5;
    .card {
        width: 90% !important;
    }
    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.cards-mentora {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    border: none;
    gap: $sp-tc3;
    justify-content: center;
    align-items: center;
    margin: 0 auto $sp-tc5;
    @media (min-width: 992px) {
        flex-direction: row;
    }
    .card {
        width: 90% !important;
    }
}

.card-curso {
    background-color: #FFFBFE;
    border: none;
    border-radius: 12px;
    max-height: 83px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
}

#body {
    border-width: 0;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    margin-left: 0!important;
}