.centerPattern {
    position: absolute;
    right: 55px;
    top: 302px;
    z-index: -1;
}

.rightPattern {
    position: absolute;
    right: -32px;
    top: 302px;
    z-index: -1;
}

.leftPattern {
    position: absolute;
    left: -32px;
    top: 150px;
    transform: scaleX(-1);
    z-index: -1;
}

.paddingImage {
    padding-top: 100px;
}