.navbar{
    background-color: #D9D9D9;
    display: flex;
    padding:0px;
    margin:0px;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
.links{
    font-family: 'poppins';

    width: 206px;
    height: 28px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20.3524px;
    line-height: 31px;
    color: #000000;
    padding-left: 617px;

}
.navbar>.container{
    padding-left:32px;
    padding-right:32px;
    margin: 0px;
}
.navbar-nav{
    padding-left: 617px;
    padding-right: 17.5px;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.botoesContainer{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    display: contents;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    padding: 0;
}

Button{
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}
.liButton{
    padding:10.5px;
}
#registre{
    width: 145px;
    border: none;
    background-color: #3C3C3C;
    color: #FFFFFF;
    border-radius: 66px;
}
#login{
    width: 106px;

    color: #000;
    border: 1px solid #000000;
    border-radius: 66px;
}
img{
    position: absolute;
    width: 72px;
    height: 72px;
    top: 4px;
}
li{
    align-items:center;
}
a{
    align-items:center;
}

