#containerStyle {
  padding: 0;
  color: #FFFFFF;
  background-color: #601C4F;
}
@media only screen and (min-width: 768px) {
  #containerStyle {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 400;
  }
  #containerStyle #imagem {
    visibility: hidden;
  }
}

#navStyle {
  height: 72px;
  background-color: #601C4F;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
}

#navImg {
  background-color: #601C4F;
  align-items: center;
  margin-left: 24px;
}

.d-inline-block {
  background-color: #601C4F;
}

.botaoStyle {
  background-color: #601C4F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media only screen and (min-width: 768px) {
  .botaoStyle {
    width: 330px;
    display: flex;
    flex-direction: row;
    padding-right: 75px;
    gap: 20px;
  }
}
@media only screen and (min-width: 900px) {
  .botaoStyle {
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .botaoStyle {
    padding-right: 0;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }
}

#basic-navbar-nav {
  text-align: center;
  z-index: 2;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  #basic-navbar-nav {
    display: inline-flex;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 992px) {
  #basic-navbar-nav {
    padding: 10px;
    font-weight: 500;
    font-size: 20.3524px;
    line-height: 31px;
  }
}

.botoesContainer {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding-left: 0px;
  margin: 30px;
  padding: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.bd-toc-item {
  background-color: #601C4F;
  flex-direction: row-reverse;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}
@media only screen and (min-width: 768px) {
  .bd-toc-item {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 18px;
    line-height: 0%;
  }
}

.espacamento {
  margin: 26px;
}

.links {
  background-color: #601C4F;
  font-family: "Poppins";
  margin: 26px;
}
@media only screen and (min-width: 768px) {
  .links {
    margin: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .links {
    padding: 8px;
  }
}

.botoesHeader {
  font-size: 14px;
}

#cadastre {
  padding: 10.5px;
  width: 145px;
  border: none;
  background-color: #FFFFFF;
  color: #601C4F;
  border-radius: 66px;
}
@media only screen and (min-width: 768px) {
  #cadastre {
    width: 400px;
    width: 550px;
  }
}

#login {
  padding: 10.5px;
  width: 106px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 66px;
}
@media only screen and (min-width: 992px) {
  #login {
    margin-left: 16px;
  }
}

#basic-navbar-nav {
  background-color: #601C4F;
  margin: 0;
  margin-top: 40px;
}
@media only screen and (max-width: 280px) {
  #basic-navbar-nav {
    width: 100px;
    line-height: 0;
    font-weight: 100;
  }
}
@media only screen and (min-width: 768px) {
  #basic-navbar-nav {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 992px) {
  #basic-navbar-nav {
    height: 0px;
    margin-top: 60px;
    margin: 29px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  #basic-navbar-nav {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  #basic-navbar-nav {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  #basic-navbar-nav {
    margin-right: 200px;
  }
}
@media only screen and (min-width: 1500px) {
  #basic-navbar-nav {
    margin-right: 200px;
  }
}

.navbar-toggler-icon {
  background-color: #601C4F;
  width: 0;
  border: none;
}

#logo {
  width: 171px;
  height: 40px;
}

#botaoToggle {
  border-radius: 0;
  margin-right: 24px;
  width: 10px;
  height: 14px;
  display: block;
}
#botaoToggle:focus {
  box-shadow: none;
  background-color: #601C4F;
}
#botaoToggle::before {
  background-image: url("../../assets/icons/close.png");
  background-repeat: no-repeat;
}

#botaoToggle {
  background-image: url("../../assets/imagens/menu.png");
}
@media only screen and (min-width: 768px) {
  #botaoToggle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */