@import "../../typography.scss";
@import "../../colors.scss";
@import "../../spacing.scss";

#containerStyle {
    padding-top: 11px;
    padding-bottom: 11px;
    color: $light-5;
    background-color: $primary-custom;
    @media only screen and (min-width: 768px) {
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-weight: 400;
    }
}

#navStyle{
    height: 72px;
    background-color: $primary-custom;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

#navImg {
    background-color: $primary-custom;
    align-items: center;
    margin-left: 24px;
}
.d-inline-block{
    background-color: $primary-custom;
}
.botaoStyle{
    background-color: $primary-custom;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @media only screen and (min-width: 768px) {
        width: 330px;
        display: flex;
        flex-direction: row;
        padding-right: 75px;
        gap: 20px;
    }
    @media only screen and (min-width: 900px){
        padding-right: 0;
    }
    @media only screen and (min-width: 992px) {
        padding-right: 0;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
    }
}

#basic-navbar-nav {
    text-align: center;
    z-index: 2;
    font-weight: 400;
    @media only screen and (min-width: 768px) {
        display: inline-flex;
        flex-direction: row-reverse;
    } 
    @media only screen and (min-width: 992px) {
        padding: 10px;
        font-weight: 500;
        font-size: 20.3524px;
        line-height: 31px;
    }
}
.botoesContainer{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    padding-left: 0px;
    margin: 30px;
    padding: 0;
    column-gap: 30px;
}
.bd-toc-item{
    background-color: $primary-custom;
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        font-weight: 300;
        font-size: 18px;
        line-height: 0%;
    }
}
.links{
    background-color: $primary-custom;
    font-family: 'Poppins';
    margin: 30px;
    @media only screen and (min-width: 768px) {
        margin: 10px;
    }
    @media only screen and (min-width: 992px) {
        padding: 8px;
    }
}
.botoesHeader{
    font-size: 14px;
}

#cadastre{
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 343px;
    height: 40px;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;

    @media only screen and (min-width: 768px) {
        width: 400px;
        width: 550px;
    }
}

#login {
    width: 106px;
    color: $light-5;
    border: 1px solid $light-5;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 343px;
    height: 40px;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    @media only screen and (min-width: 992px) {
        margin-left: 16px;
    }
}
#basic-navbar-nav{
    background-color: $primary-custom;
    margin: 0;
    margin-top: 40px;
    @media only screen and (max-width: 280px) {
        width: 100px;
        line-height: 0;
        font-weight: 100;
    }
    @media only screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: 0px;
        margin-right: 0;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 992px) {
        height: 0px;
        margin-top: 60px;
        margin: 29px;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
    @media only screen and (min-width: 1280px) {
        margin-right: 50px;
    }
    @media only screen and (min-width: 1440px) {
        margin-right: 200px;
    }
    @media only screen and (min-width: 1500px) {
        margin-right: 200px;
    }
}
.navbar-toggler-icon{
    background-color: $primary-custom;
    width: 0;
    border: none;
}

#logo{
    margin: 0;
    width: 171px;
    height: 40px;
}
#botaoToggle{
    border-radius: 0;
    margin-right: 14px;
    width: 10px;
    height: 14px;
    display: block;
    &:focus{
        box-shadow: none;
        background-color: $primary-custom;
    }
    &::before{
        background-image: url("../../assets/icons/close.png");
        background-repeat: no-repeat;
    }
}
#botaoToggle{
    background-image: url("../../assets/imagens/menu.png");
    @media only screen and (min-width: 768px) {
        display:none;
    }
}