.assinar-newsletter {
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 31px;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        margin-bottom: 100px;
        max-width: 1296px;
        margin-left: 5%;
        margin-right: 5%;
    }
    @media only screen and (min-width: 1440px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.conteudo-assinar-newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    a {
        display: flex;
        align-items: center;
        justify-content: center
    }
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    div {
        display: flex;
        flex-wrap: nowrap;
    }
}

.item-assinar-newsletter {
    box-sizing: border-box;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 48px;
    margin-top: 10px;
}

.button-assinar-newsletter {
    @media only screen and (min-width: 768px) {
        width: 21%;
    }
}

.select-assinar-newsletter {
    // appearance: none;
    @media only screen and (min-width: 768px) {
        width: 32%;
    }
}

.input-assinar-newsletter {
    @media only screen and (min-width: 768px) {
        width: 40%;
    }
}