.assinar-newsletter {
    display: flex;
    flex-direction: column;
    color: blue;
}

.fields {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }
}