@import '../../spacing.scss';
@import '../../typography.scss';

.card-conteudo-exclusivo {
    display: flex;
    border: none;
    max-height: 120px;
    margin: 0 0 $sp-tc3 $sp-tc1;



    img {
        margin: 0 $sp-tc2 0 0;
        cursor: pointer;
    }

    .content {
        width: 500px;

        h6 {
            @extend .tp-heading-6
        }
        
        p {
            text-align: left;
            
        }
    }   
}

@media (min-width: 768px) {
    .card-conteudo-exclusivo {
    flex-direction: column;

    img {
        width: 120px;
        height: 120px;
        justify-content: center;
        align-items: center;
        margin: 0 $sp-tc2 0 0;
        cursor: pointer;
    }
}
}

