.card-conteudo-exclusivo {
    display: flex;
    flex-direction: row;
    border: none;
    width: 550px;
    margin-top: 130px;
    
}

.card-conteudo-exclusivo img {
    margin-right: 15px;
    
}

.card-conteudo-exclusivo p {
    text-align: left;
    padding-right: 10px;
}
