@import "./colors.scss";
.tp-display-1 {
    /* Display 1 */
    font-family: 'Poppins';
    font-weight: 275;
    font-size: 48px;
    line-height: 130%;
}

.tp-display-2 {
    /* Display 2 */
    font-family: 'Poppins';
    font-weight: 275;
    font-size: 40px;
    line-height: 130%;
}

.tp-heading-1 {
    /* Heading 1 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
}

.tp-heading-2 {
    /* Heading 2 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.tp-heading-3 {
    /* Heading 3 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
}

.tp-heading-4 {
    /* Heading 4 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.tp-heading-5 {
    /* Heading 5 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.tp-heading-6 {
    /* Heading 6 */
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.tp-lead-paragraph {
    /* Lead Paragraph */
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.tp-body-large {
    /* Body Large */
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.tp-body-medium {
    /* Body Medium */
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.tp-body-normal {
    /* Body Normal */
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

.tp-body-small {
    /* Body Small */
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.label-large {
    /* Body Small */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.label-medium {
    /* Body Small */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.title-small {
    /* Body Small */
    font-family: 'Roboto'!important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.hover-primary-darker {
    &:hover {
        background-color: $primary-darker !important;
    }
}

.hover-primary-subtle {
    border: 1px solid #79747E !important;
    &:hover {
        background-color: $primary-subtle !important;
    }
}