$tp-prymary: 'Poppins';
$tp-secondary: "Mulish";
.tp-display-1 {
    /* Display 1 */
    font-family: $tp-prymary;
    font-weight: 275;
    font-size: 48px;
    line-height: 130%;
}

.tp-display-2 {
    /* Display 2 */
    font-family: $tp-prymary;
    font-weight: 275;
    font-size: 40px;
    line-height: 130%;
}

.tp-heading-1 {
    /* Heading 1 */
    font-family: $tp-prymary;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
}

.tp-heading-2 {
    /* Heading 2 */
    font-family: $tp-prymary;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
}

.tp-heading-3 {
    /* Heading 3 */
    font-family: $tp-primary;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
}

.tp-heading-4 {
    /* Heading 4 */
    font-family: $tp-prymary;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.tp-heading-5 {
    /* Heading 5 */
    font-family: $tp-prymary;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.tp-heading-6 {
    /* Heading 6 */
    font-family: $tp-prymary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.tp-lead-paragraph {
    /* Lead Paragraph */
    font-family: $tp-secondary;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.tp-body-large {
    /* Body Large */
    font-family: $tp-secondary;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.tp-body-medium {
    /* Body Medium */
    font-family: $tp-secondary;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.tp-body-normal {
    /* Body Normal */
    font-family: $tp-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

.tp-body-small {
    /* Body Small */
    font-family: $tp-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}