.cardsMentora {
    grid-gap: 20px;
    justify-content: center;
    @media only screen and (min-width: 374px) {
        grid-gap: 25px;
    }
    @media only screen and (min-width: 768px) {
        grid-gap: 10px;
    }
    @media only screen and (min-width: 1500px) {
        padding: 18px 50px 119px 220px;
        grid-gap: 10px;
        margin: 0;
    }
}

.cardsMentora .row {
    display: block;
    padding: 16px;
}