.tp-display-1 {
  /* Display 1 */
  font-family: 'Poppins';
  font-weight: 275;
  font-size: 48px;
  line-height: 130%;
}

.tp-display-2 {
  /* Display 2 */
  font-family: 'Poppins';
  font-weight: 275;
  font-size: 40px;
  line-height: 130%;
}

.tp-heading-1 {
  /* Heading 1 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
}

.tp-heading-2 {
  /* Heading 2 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
}

.tp-heading-3 {
  /* Heading 3 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
}

.tp-heading-4 {
  /* Heading 4 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.tp-heading-5 {
  /* Heading 5 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.tp-heading-6 {
  /* Heading 6 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.tp-lead-paragraph {
  /* Lead Paragraph */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

.tp-body-large {
  /* Body Large */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

.tp-body-medium {
  /* Body Medium */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
}

.tp-body-normal {
  /* Body Normal */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
}

.tp-body-small {
  /* Body Small */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

#containerStyle-logado {
  color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #601C4F;
}
@media only screen and (min-width: 768px) {
  #containerStyle-logado {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 400;
  }
}
@media only screen and (min-width: 992px) {
  #containerStyle-logado {
    align-items: baseline;
  }
}

#navStyle-logado {
  background: #601C4F;
<<<<<<< HEAD
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> amir_vm
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
}

#navImg-logado {
  background-color: #601C4F;
  align-items: center;
  margin-left: 24px;
}

.d-inline-block {
  background-color: #601C4F;
}

#basic-navbar-nav-logado {
  text-align: center;
  z-index: 2;
  font-weight: 400;
}
@media only screen and (min-width: 280px) {
  #basic-navbar-nav-logado {
    background-image: none;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  #basic-navbar-nav-logado {
    font-size: 13px;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 800px) {
  #basic-navbar-nav-logado {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 912px) {
  #basic-navbar-nav-logado {
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 992px) {
  #basic-navbar-nav-logado {
    padding: 10px;
    font-weight: 500;
    font-size: 20.3524px;
    line-height: 31px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  #basic-navbar-nav-logado {
    height: 20px;
    margin-top: 60px;
    margin: 29px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  #basic-navbar-nav-logado {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  #basic-navbar-nav-logado {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  #basic-navbar-nav-logado {
    margin-right: 200px;
  }
}
@media only screen and (min-width: 1500px) {
  #basic-navbar-nav-logado {
    margin-right: 200px;
  }
}

.bd-toc-item-logado {
  background-color: #601C4F;
<<<<<<< HEAD
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
=======
  flex-direction: row-reverse;
  font-weight: 400;
>>>>>>> amir_vm
}
@media only screen and (min-width: 768px) {
  .bd-toc-item-logado {
    display: flex;
<<<<<<< HEAD
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 15px;
    font-weight: 400;
=======
    flex-direction: row;
>>>>>>> amir_vm
  }
}

.links {
  background-color: #601C4F;
<<<<<<< HEAD
  font-family: 'Poppins';
  margin: 30px;
=======
  font-family: "Poppins";
  margin: 26px;
>>>>>>> amir_vm
}
@media only screen and (min-width: 768px) {
  .links {
    margin: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .links {
    padding: 8px;
  }
}

#cadastre {
  padding: 10.5px;
  width: 343px;
  border: none;
  background-color: #FFFFFF;
  color: #601C4F;
  border-radius: 66px;
}
@media only screen and (min-width: 768px) {
  #cadastre {
    margin-left: 21px;
    width: 550px;
  }
}

#login {
  padding: 10.5px;
  width: 343px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 66px;
}
@media only screen and (min-width: 992px) {
  #login {
    margin-left: 16px;
  }
}

#basic-navbar-nav-logado {
  background-color: #601C4F;
  margin-top: 48px;
}
@media only screen and (min-width: 280px) {
  #basic-navbar-nav-logado {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  #basic-navbar-nav-logado {
    margin-left: 0px;
    margin-top: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  #basic-navbar-nav-logado {
    margin-top: 29px;
    margin-left: 29px;
    margin-bottom: 29px;
    margin-right: 29px;
  }
}
@media only screen and (min-width: 1024px) {
  #basic-navbar-nav-logado {
    margin-top: 29px;
    margin-left: 29px;
    margin-bottom: 29px;
    margin-right: 0;
  }
}
.navbar-toggler-icon {
  display: contents;
  background-color: #601C4F;
  opacity: 0;
  width: 0;
  border: none;
  border-radius: 56;
}

#logo {
  width: 171px;
  height: 40px;
}

#botaoToggleHeaderLogado {
  border-radius: 50%;
  margin-right: 14px;
  width: 50px;
  height: 50px;
  display: block;
}
#botaoToggleHeaderLogado:focus {
  box-shadow: none;
  background-color: #601C4F;
}
@media only screen and (min-width: 280px) {
  #botaoToggleHeaderLogado {
    margin-right: 0;
  }
}

#botaoToggleHeaderLogado {
  margin-right: 32px;
  background-image: url("../../assets/imagens/foto_perfil.png");
  border: 3px solid #FFFFFF;
}
@media only screen and (max-width: 280px) {
  #botaoToggleHeaderLogado {
    background-image: url("../../assets/imagens/menu.png");
    width: 10px;
    height: 14px;
    border-radius: 0%;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 768px) {
  #botaoToggleHeaderLogado {
    display: none;
  }
<<<<<<< HEAD
}

#notificacoes {
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  #notificacoes {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
=======
}/*# sourceMappingURL=style.css.map */
>>>>>>> amir_vm
