@import "../../typography.scss";
@import "../../colors.scss";
@import "../../spacing.scss";

#containerStyle-logado {
    color: $light-5;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $primary-custom;
    @media only screen and (min-width: 768px) {
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-weight: 400;
    }
    @media only screen and (min-width: 992px) {
        align-items: baseline;
    }
}

#navStyle-logado{
    background: $primary-custom;
    height: 72px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

#navImg-logado {
    background-color: $primary-custom;
    align-items: center;
    margin-left: 24px;
}
.d-inline-block{
    background-color: $primary-custom;
}
#basic-navbar-nav-logado {
    text-align: center;
    z-index: 2;
    font-weight: 400;
    @media only screen and (min-width: 280px) {
        background-image: none;
        margin-top: 0;
    }
    @media only screen and (min-width: 768px) {
        font-size: 13px;
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    } 
    @media only screen and (min-width: 800px) {
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 912px) {
        padding: 20px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 992px) {
        padding: 10px;
        font-weight: 500;
        font-size: 20.3524px;
        line-height: 31px;
        display: flex;
        justify-content: center;
    }
    @media only screen and (min-width: 992px) {
        height: 20px;
        margin-top: 60px;
        margin: 29px;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
    @media only screen and (min-width: 1280px) {
        margin-right: 50px;
    }
    @media only screen and (min-width: 1440px) {
        margin-right: 200px;
    }
    @media only screen and (min-width: 1500px) {
        margin-right: 200px;
    }
}
.bd-toc-item-logado{
    background-color: $primary-custom;
    flex-direction: row-reverse;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-weight: 400;
    }
}
.links{
    background-color: $primary-custom;
    font-family: 'Poppins';
    margin: 30px;
    @media only screen and (min-width: 768px) {
        margin: 10px;
    }
    @media only screen and (min-width: 992px) {
        padding: 8px;
    }
}

#cadastre{
    padding:10.5px;
    width: 343px;
    border: none;
    background-color: $light-5;
    color: $primary-custom;
    border-radius: 66px;
    @media only screen and (min-width: 768px) {
        margin-left: 21px;
        width: 550px;
    }
}

#login {
    padding: 10.5px;
    width: 343px;
    color: $light-5;
    border: 1px solid $light-5;
    border-radius: 66px;
    @media only screen and (min-width: 992px) {
        margin-left: 16px;
    }
}
#basic-navbar-nav-logado{
    background-color: $primary-custom;
    margin-top: 48px;
    @media only screen and (min-width: 280px) {
        margin-top: 0;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 0px;
        margin-top: 0;
        margin-right: 0;
    }
    @media only screen and (min-width: 992px) {
        margin-top: 29px;
        margin-left: 29px;
        margin-bottom: 29px;
        margin-right: 29px;
    }
    @media only screen and (min-width: 1024px) {
        margin-top: 29px;
        margin-left: 29px;
        margin-bottom: 29px;
        margin-right: 0;
    }
}
.navbar-toggler-icon{
    display: contents;
    background-color: $primary-custom;
    opacity: 0;
    width: 0;
    border: none;
    border-radius: 56;
}
#logo{
    width: 171px;
    height: 40px;
}
#botaoToggleHeaderLogado{
    border-radius: 50%;
    margin-right: 14px;
    width: 50px;
    height: 50px;
    display: block;
    &:focus{
        box-shadow: none;
        background-color: $primary-custom;
    }
    @media only screen and (min-width: 280px) {
        margin-right: 0;
    }
  }
#botaoToggleHeaderLogado{
    margin-right: 32px;
    background-image: url("../../assets/imagens/foto_perfil.png");
    border: 3px solid $light-5;
    @media only screen and (max-width: 280px) {
        background-image: url("../../assets/imagens/menu.png");
        width: 10px;
        height: 14px;
        border-radius: 0%;
        margin-right: 10px;
    }
    @media only screen and (min-width: 768px) {
        display:none;
    }
}
#notificacoes{
    vertical-align: middle;
    @media only screen and (min-width: 768px) {
        display:none;
    }
}