@import "../../typography.scss";
@import "../../colors.scss";
@import "../../spacing.scss";
.containerMentorias {
    max-width: 100%;
    background-image: url("../../assets/imagens/Mask_group.png");
    background-repeat: no-repeat;
    background-position: 0 79px;
}

.Mentorias {
    font-family: 'poppins';
    padding: 99px 32px 0 20px;
    color: #000000;
    @media only screen and (min-width: 374px) {
        padding: 74px 32px 0 38px;
    }
    @media only screen and (min-width: 768px) {
        padding: 74px 32px 0 80px;
    }
    @media only screen and (min-width: 992px) {
        padding: 74px 32px 0 80px;
    }
    @media only screen and (min-width: 1500px) {
        padding: 275px 230px 38px 202px;
    }
}

.Mentorias p h2 {
    text-align: left;
    letter-spacing: 0em;
}

.Mentorias h2 {
    width: 288px;
    height: 28px;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    @media only screen and (min-width: 768px) {
        width: 500px;
        font-size: 19px;
        line-height: 29px;
    }
    @media only screen and (min-width: 992px) {
        width: 500px;
        font-size: 19px;
        line-height: 29px;
    }
    @media only screen and (min-width: 1500px) {
        position: absolute;
        width: 1080px;
        height: 28px;
        font-size: 22px;
        line-height: 33px;
    }
}

.Mentorias p {
    margin: 0;
    width: 342px;
    padding-top: 32px;
    padding-bottom: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    @media only screen and (min-width: 768px) {
        width: 700px;
        padding-top: 40px;
        padding-right: 30px;
        font-size: 15px;
        line-height: 20px;
    }
    @media only screen and (min-width: 992px) {
        width: 800px;
        padding-top: 40px;
        padding-right: 30px;
        font-size: 15px;
        line-height: 20px;
    }
    @media only screen and (min-width: 1500px) {
        width: 1080px;
        padding-top: 48px;
        font-size: 16.9989px;
        line-height: 25px;
    }
}

#dropdown {
    display: flex;
    justify-content: flex-start;
    position: relative;
    background: $primary-custom;
    border-radius: 8px;
    width: 342px;
    height: 32px;
    padding-left: 13px;
    border-style: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 8.76923px;
    line-height: 13px;
    color: $light-5;
    align-items: center;
    @media only screen and (min-width: 768px) {
        width: 650px;
        height: 50px;
        padding-left: 20px;
        font-size: 10px;
        line-height: 20px;
        padding-right: 30px;
    }
    @media only screen and (min-width: 992px) {
        width: 800px;
        height: 82px;
        padding-left: 29px;
        font-size: 20px;
        line-height: 30px;
    }
    @media only screen and (min-width: 1500px) {
        width: 1080px;
        height: 82px;
        padding-left: 29px;
        font-size: 20px;
        line-height: 30px;
    }
}

.botao {
    padding: 0px 30px 22px 20px;
    @media only screen and (min-width: 374px) {
        padding: 0px 30px 22px 38px;
    }
    @media only screen and (min-width: 768px) {
        padding: 74px 32px 50px 80px;
    }
    @media only screen and (min-width: 992px) {
        padding: 74px 32px 50px 80px;
    }
    @media only screen and (min-width: 1500px) {
        padding: 0 0 65px 202px;
    }
}

#dropdown::after {
    margin-left: auto;
}

.dropdown-menu.show {
    padding-right: 180px;
}