.tp-display-1 {
  /* Display 1 */
  font-family: 'Poppins';
  font-weight: 275;
  font-size: 48px;
  line-height: 130%;
}

.tp-display-2 {
  /* Display 2 */
  font-family: 'Poppins';
  font-weight: 275;
  font-size: 40px;
  line-height: 130%;
}

.tp-heading-1 {
  /* Heading 1 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
}

.tp-heading-2 {
  /* Heading 2 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
}

.tp-heading-3 {
  /* Heading 3 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
}

.tp-heading-4 {
  /* Heading 4 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.tp-heading-5 {
  /* Heading 5 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.tp-heading-6 {
  /* Heading 6 */
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.tp-lead-paragraph {
  /* Lead Paragraph */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

.tp-body-large {
  /* Body Large */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

.tp-body-medium {
  /* Body Medium */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
}

.tp-body-normal {
  /* Body Normal */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
}

.tp-body-small {
  /* Body Small */
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

.containerMentorias {
  max-width: 100%;
  background-image: url("../../assets/imagens/Mask_group.png");
  background-repeat: no-repeat;
  background-position: 0 79px;
}

.Mentorias {
  font-family: 'poppins';
  padding: 99px 32px 0 20px;
  color: #000000;
}

@media only screen and (min-width: 374px) {
  .Mentorias {
    padding: 74px 32px 0 38px;
  }
}

@media only screen and (min-width: 768px) {
  .Mentorias {
    padding: 74px 32px 0 80px;
  }
}

@media only screen and (min-width: 992px) {
  .Mentorias {
    padding: 74px 32px 0 80px;
  }
}

@media only screen and (min-width: 1500px) {
  .Mentorias {
    padding: 275px 230px 38px 202px;
  }
}

.Mentorias p h2 {
  text-align: left;
  letter-spacing: 0em;
}

.Mentorias h2 {
  width: 288px;
  height: 28px;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

@media only screen and (min-width: 768px) {
  .Mentorias h2 {
    width: 500px;
    font-size: 19px;
    line-height: 29px;
  }
}

@media only screen and (min-width: 992px) {
  .Mentorias h2 {
    width: 500px;
    font-size: 19px;
    line-height: 29px;
  }
}

@media only screen and (min-width: 1500px) {
  .Mentorias h2 {
    position: absolute;
    width: 1080px;
    height: 28px;
    font-size: 22px;
    line-height: 33px;
  }
}

.Mentorias p {
  margin: 0;
  width: 342px;
  padding-top: 32px;
  padding-bottom: 24px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
}

@media only screen and (min-width: 768px) {
  .Mentorias p {
    width: 700px;
    padding-top: 40px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .Mentorias p {
    width: 800px;
    padding-top: 40px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  .Mentorias p {
    width: 1080px;
    padding-top: 48px;
    font-size: 16.9989px;
    line-height: 25px;
  }
}

#dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background: #601C4F;
  border-radius: 8px;
  width: 342px;
  height: 32px;
  padding-left: 13px;
  border-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8.76923px;
  line-height: 13px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  #dropdown {
    width: 650px;
    height: 50px;
    padding-left: 20px;
    font-size: 10px;
    line-height: 20px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  #dropdown {
    width: 800px;
    height: 82px;
    padding-left: 29px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1500px) {
  #dropdown {
    width: 1080px;
    height: 82px;
    padding-left: 29px;
    font-size: 20px;
    line-height: 30px;
  }
}

.botao {
  padding: 0px 30px 22px 20px;
}

@media only screen and (min-width: 374px) {
  .botao {
    padding: 0px 30px 22px 38px;
  }
}

@media only screen and (min-width: 768px) {
  .botao {
    padding: 74px 32px 50px 80px;
  }
}

@media only screen and (min-width: 992px) {
  .botao {
    padding: 74px 32px 50px 80px;
  }
}

@media only screen and (min-width: 1500px) {
  .botao {
    padding: 0 0 65px 202px;
  }
}

#dropdown::after {
  margin-left: auto;
}

.dropdown-menu.show {
  padding-right: 180px;
}
/*# sourceMappingURL=style.css.map */