.img {
    background-image: url("../../assets/imagens/placeholder_img.svg");
    width: 254px;
    height: 352px;
    @media (min-width:1024px) {
            width: 373px;
            height: 496px;
    }
}

.depo-info {
    background: linear-gradient(180deg, rgba(193, 193, 193, 0) 0%, rgba(0, 0, 0, 0.51) 100%);
}

.subtitle {
    font-weight: 500 !important;
}

.card-col {
    position: relative;
}